# 5.11 While Loop

While Loop adalah suatu kondisi perulangan pada Python yang digunakan untuk mengeksekusi perintah yang diinginkan sampai suatu kondisi tertentu terpenuhi. Apabila memiliki nilai True maka program akan selalu melakukan looping sesuai kondisi dalam program, apabila memiliki nilai False maka akan langsung berhenti dan keluar dari program perulangannya.

### Contoh 1

In [1]:
##Deklarasikan variabel yang akan digunakan dalam perulangan while
a_44 = 0

                                                         ##Struktur while
while a_44 < 5:                                          ##While <kondisi>:
    print('Angka ' + str(a_44) + ' masih di bawah 5')    ##<perintah>, berisi print dan memanggil variabel a_44 yang dieksekusi
    a_44 += 1                                            ##perulangan/looping (increment/decrement)
    
##Program while looping mengeksekusi variabel a_44 yang dideklarasikan = 0, dengan kondisi apabila a_44 < 5
##maka while looping akan mengeksekusi perintah dalam struktur while
##Setelah itu a_44 akan melakukan perulangan dimana a_44 += 1 berarti a_44 = a_44 + 1 atau bisa juga ditulis dalam bentuk a_44++

Angka 0 masih di bawah 5
Angka 1 masih di bawah 5
Angka 2 masih di bawah 5
Angka 3 masih di bawah 5
Angka 4 masih di bawah 5

Program di atas berhenti di a_44 = 4 karena sesuai kondisi yang diminta a_44 < 5, sehingga benar bahwa a_44 = 4 masih dibawah 5. Jika a_44 = 4 mengalami looping, maka 4 + 1 = 5, dimana a_44 = 5 tidak memenuhi kondisi a_44 < 5.

Setelah variabel a_44 tidak memenuhi kondisi a_44 < 5, program berhenti mengeksekusi dan langsung keluar dari program. Ini berarti nilai dari data sudah bernilai False sehingga program berhenti dijalankan.

### Contoh 2

In [2]:
x_44 = 0              ##Deklarasi variabel x_44 = 0

while x_44 > 2:       ##Kondisi dimana x_44 harus memenuhi syarat x_44 > 2
    y_44 = x_44 ** 2  ##Membuat variabel baru untuk menampung data dari nilai x_44**2 (x_44**2 = x_44 dipangkatkan 2)
    x_44 = x_44 - 1   ##Perulangan/looping menggunakan decrement (decrement = operasi menggunakan -,
                      ##increment = operasi menggunakan +)

Program di atas tidak error maupun tidak salah, tapi program di atas tidak mengeluarkan/menghasilkan output. Mengapa?
Hal itu dikarenakan, variabel x_44 yang dideklarasikan di awal = 0, dimana kondisi tersebut tidak memenuhi kondisi untuk while looping. Tidak benar bahwa 0 > 2, sehingga program looping tidak dapat menghasilkan output apapun dan langsung keluar dari program.

In [3]:
##Disini saya mencoba untuk melihat nilai dari x_44 setelah melakukan while looping

print(x_44)

0

Nilai dari print(x_44) = 0 karena dikode sebelumnya telah dijalankan program while looping yang tidak memenuhi suatu kondisinya, sehingga ketika dilakukan print atau memanggil nilai x_44, nilai x_44 yang terpanggil merupakan nilai x_44 pada saat dideklarasikan (tidak merubah apapun). Karena tidak memenuhi kondisi while looping, maka perulangan pun tidak terjadi, dan nilai dari x_44 tetap 0

### Contoh 3

Mencoba membuat segitiga siku-siku yang terbalik

In [4]:
n_44 = 10                     ##Deklarasi variabel dimana n_44 = 10

while n_44 > 0:               ##Kondisi perulangan n_44 > 0
    print(n_44 * '*')         ##Perintah apabila kondisi terpenuhi, maka print * sebanyak n_44 kali
    n_44 = n_44 - 1           ##Perulangan (decrement --) apabila sudah melakukan eksekusi pada print

**********
*********
********
*******
******
*****
****
***
**
*

Segitiga berbentuk secara terbalik karena deklarasi variabel n_44 di awal = 10, saat program mengeksekusi dan kondisi terpenuhi maka dilakukan print * sebanyak n_44 kali (n_44 = 10), sehingga muncul 10 bintang pada baris pertama. Lalu terjadi looping, dengan kondisi n_44 = n_44 - 1, sehingga setelah itu n_44 = 9. Karena n_44 = 9 masih memenuhi kondisi n_44 > 0, maka perulangan terus dilakukan sampai n_44 tidak lagi memenuhi kondisi n_44 > 0.

### Contoh 4

In [ ]:
p_44 = 0                   ##Deklarasi variabel p_44 = 0

while p_44 < 2:            ##Kondisi perulangan yang harus dipenuhi yaitu p_44 < 2
    q_44 = p_44 ** 2       ##Membuat variabel baru q_44 untuk menampung nilai dari p_44**2
    ##print(q_44)
    p_44 = p_44 - 1        ##Perulangan decrement -1 apabila sudah dilakukan proses pemangkatan pada variabel q_44
    ##print(p_44)
    
##Print(q_44) dan print(p_44) saya buat menjadi komen karena apabila saya tetap menggunakan print tersebut,
##proses running tidak akan berhenti karena nilai terus mengecil menjadi minus tak hingga

Program di atas jika di run tidak melakukan apapun, tidak error maupun tidak mengeluarkan output.

Karena dari variabel awal yang dideklarasikan adalah 0, dimana 0 memenuhi kondisi p_44 < 2, maka dapat dilakukan p_44 ** 2 yang hasilnya tetap 0. Lalu dilakukan looping p_44-1, sehingga nilai dari p_44 saat ini adalah -1. Nilai p_44 = -1 masih memenuhi kondisi p_44, lalu mengapa tidak ada output yang keluarkan oleh program? 
Hal tersebut dikarenakan nilai dari variabel p_44 terus mengecil dengan nilai minus, sehingga program kebingungan dan tidak mengeluarkan output apapun.

Apabila ditambahkan print di dalam proses while untuk melihat nilai dari p_44 dan q_44, program akan mengeluarkan output. Namun, program tidak akan berhenti melakukan running, karena nilai terus mengecil maka program terus melakukan running dengan batas minus tak hingga.

Kondisi ini disebut dengan **infinity looping**, dimana perulangan terus terjadi tanpa batas. Penyebab hal ini dikarenakan kondisi yang terpenuhi **selalu bernilai True**. Untuk kasus program di atas, sudah dapat dipastikan jika kondisi while selalu bernilai True, hal itu dikarenakan nilai p_44 menjadi minus yang mana p_44 sudah pasti < 2.

### Contoh 5

In [9]:
print('Program Menampilkan Bilangan Genap\n')      ##Menampilkan judul program

i = 0                 ##Deklarasi variabel i = 0

j = int(input('Masukkan batas bilangan = '))       ##Inputan untuk menetukan batas bilangan yang ingin dipanggil

while i <= j:         ##Kondisi perulangan dimanan nilai i harus lebih kecil dari sama dengan nilai j
    print(i)          ##Lakukan print/cetak nilai i
    i += 2            ##Perulangan increment, dimana i = i + 2 untuk menghasilkan baris bilangan genap

Program Menampilkan Bilangan Genap

Masukkan batas bilangan = 10
0
2
4
6
8
10

Program di atas menampilkan perulangan untuk menampilkan baris bilangan genap dengan batas dari hasil input oleh pengguna. Jadi, hasil input tersebut menentukan berapa kali terjadinya perulangan. Apabila sudah tidak memenuhi kondisi, maka perulangan akan berhenti dan keluar dari program.

# 5.12 List di Python

List di Python digunakan untuk menyimpan serta mengolah data lebih dari satu, baik dalam bentuk string maupun angka. List dapat dikatakan mirip seperti array.

### Contoh List Kosong

In [25]:
##Membuat variabel list kosong yang bernama 'nama'
nama_44 = []

##Memanggil list
print(nama_44)

[]

Program di atas merupakan contoh list yang kosong/tidak memiliki data. Sehingga ketika dipanggil tidak muncul apapun karena tidak adanya data.

### Contoh 1

In [26]:
##Membuat list dengan diisi beberapa data
warna_44 = ['hitam', 'putih', 'biru']              ##Mendeklarasikan data yang ada di dalam list

##Memanggil list
print(warna_44)                                    ##Ingin menampilkan semua data yang ada di dalam list

['hitam', 'putih', 'biru']

Data list yang terpanggil dalam variabel list warna sesuai dengan apa yang ada dalam datanya.

### Menampilkan Data List sesuai Index

In [27]:
##Menampilkan data list dengan index ke-2

print(warna_44[2])           ##Print(nama_variabel_list[index_yang_ingin_dipanggil])

biru

In [28]:
##Menampilkan data list dengan index ke 0

print(warna_44[0])           ##Print(nama_variabel_list[index_yang_ingin_dipanggil])

hitam

In [29]:
##Menampilkan data list dengan index ke -2

print(warna_44[-2])          ##Print(nama_variabel_list[index_yang_ingin_dipanggil])

putih

Untuk menampilkan/memanggil data list sesuai index, harus diketahui bahwa index data list dimulai dari 0 dan data list yang paling akhir dapat dipanggil dengan -1, -2, dan seterusnya.

### Mengubah Isi Data List

In [31]:
##Mengubah data list warna, di index ke 2. Dari biru menjadi merah
warna_44[2] = 'merah'       ##Untuk mengubah data list, nama_variabel_list[index_yg_ingin_diubah] = 'data_baru'

##Menampilkan data list
print(warna_44)

['hitam', 'putih', 'merah']

In [32]:
##Mengubah data list warna, di index ke 0. Dari hitam menjadi kuning
warna_44[0] = 'kuning'

##Menampilkan data list
print(warna_44)

['kuning', 'putih', 'merah']

### Menampilkan data list menggunakan Index

In [33]:
##Menampilkan data list index ke 0 sampai index ke 1
print(warna_44[0:1])

['kuning']

Berarti yang akan ditampilkan adalah data dengan index 0 saja. Kenapa index ke 1 tidak muncul juga?
Karena index ke 1 merupakan batas, sehingga index ke 1 tidak termasuk output dari [0:1]

In [34]:
##Menampilkan data list index ke 1 sampai index ke -2
print(warna_44[1:-2])

[]

Memiliki output kosong artinya tidak ada data yang dicari. Dimana yang diminta adalah data dengan index ke 1 sampai index ke -2. Padahal dalam data list hanya ada 3 data saja, sehingga hanya ada index ke 0, 1, dan 2. Bisa juga menjadi index ke -3, -2, dan -1.

Program di atas tidak memiliki isi karena data index yang diminta mulai dari index ke 1, yaitu 'putih' sampai index ke -2 yaitu 'putih'. Dalam pemanggilan data list, batas index yang dipanggil tidak termasuk dalam output, oleh karena itu program di atas tidak memiliki isi.

In [35]:
##Menampilkan data list index ke 0 sampai index ke -1
print(warna_44[0:-1])

['kuning', 'putih']

Menampilkan data list dengan index ke 0 sampai ke -1, berarti hanya ada 2 data yang akan muncul. Index ke 0 dan/atau index ke 1/-2.

Dikatakan bahwa apabila menampilkan data list menggunakan index tidak mengubah isi dari data list itu sendiri.

In [36]:
##Membuktikan jika data list tidak berubah
print(warna_44)

['kuning', 'putih', 'merah']

### Menambahkan 2 data List

In [37]:
##Mendeklarasikan/Membuat data list
vektor1_44 = [1, 3, 5, 7]

In [38]:
##Mendeklarasikan/Membuat data list
vektor2_44 = [2, 4, 6, 8]

In [41]:
##Membuat variabel baru vektor_44 untuk menampung hasil dari penjumlahan 2 data list
vektor_44 = vektor1_44 + vektor2_44

In [42]:
##Memanggil hasil dari penjumlahan 2 data list
print(vektor_44)

[1, 3, 5, 7, 2, 4, 6, 8]

Program di atas digunakan untuk menambahkan 2 data list, namun data yang ditambahkan belum bisa berurutan sesuai dengan urutan dari terkecil-terbesar.

### Membuat data List dengan isi yang bertipe data berbeda

In [46]:
##Membuat data list dengan tipe data yang berbeda
data_44 = ['kursi', 6, True, 24.12, False]

In [47]:
print(data_44)

['kursi', 6, True, 24.12, False]

'kursi' bertipe data **string**, 6 bertipe data **integer**, True bertipe data **boolean**, 24.12 bertipe data **float**, dan False bertipe data **boolean**.

# 5.13 Metoda List

Ada beberapa metode yang dapat digunakan dalam pemrograman List di Python

In [3]:
##Membuat data list kota
kota_44 = ['Malang', 'Bali', 'Bandung']

### Menambahkan item di data List

In [4]:
##Menambahkan 'surabaya' dalam data list
kota_44.append('Surabaya')         ##nama_variabel_list.append('data_yg_ditambahkan')

##Menampilkan data list
print(kota_44)

['Malang', 'Bali', 'Bandung', 'Surabaya']

Metode append() digunakan untuk menambahkan item list dari belakang atau akhir list.

In [5]:
##Menambahkan 'Bogor' dalam data list
kota_44.prepend('Bogor')         ##nama_variabel_list.prepend('data_yg_ditambahkan')

##Menampilkan data list
print(kota_44)

AttributeError: 'list' object has no attribute 'prepend'

Setelah membaca beberapa referensi mengenai List di Python, saya menemukan metode prepend(). Metode prepend digunakan untuk menambahkan item list dari depan atau awal list. Tapi setelah saya coba, hasilnya error. Setelah saya otak atik tetap error, saya belum bisa menemukan dimana letak salahnya.

In [6]:
##Menambahkan 'Solo' dalam data list
kota_44.insert(0, 'Solo')          ##nama_variabel_list.insert(index_yg_diinginkan, 'data_yg_ditambahkan')

##Menampilkan data list
print(kota_44)

['Solo', 'Malang', 'Bali', 'Bandung', 'Surabaya']

Metode insert() digunakan untuk menambahkan item list sesuai dengan letak index yang kita inginkan.

In [7]:
##Menambahkan 'Jakarta' dalam data list
kota_44.insert(1, 'Jakarta')      ##nama_variabel_list.insert(index_yg_diinginkan, 'data_yg_ditambahkan')

##Menampilkan data list
print(kota_44)

['Solo', 'Jakarta', 'Malang', 'Bali', 'Bandung', 'Surabaya']

### Menghapus item di data List

In [8]:
##Menghapus 'Solo' dalam data list
kota_44.remove('Solo')            ##nama_variabel_list.remove('data_yg_akan_dihapus')

##Menampilkan data list
print(kota_44)

['Jakarta', 'Malang', 'Bali', 'Bandung', 'Surabaya']

Kita dapat menggunakan metode remove() untuk menghapus item dalam data list.

In [10]:
del kota_44[0]

print(kota_44)

['Malang', 'Bali', 'Bandung', 'Surabaya']

Kita juga dapat menggunakan del (delete) untuk menghapus item dalam data list.

### Mencari data/item dalam List

In [16]:
##Mencari data 'Malang' dalam data list kota
print('Malang' in kota_44)         ##print('data_yg_ingin_dicari' in nama_variabel_list)

True

In [17]:
##Mencari data 'Solo' dalam data list kota
print('Solo' in kota_44)           ##print('data_yg_ingin_dicari' in nama_variabel_list)

False

Berdasarkan dua program di atas, diketahui bahwa apabila data yang dicari ada/dapat ditemukan maka output akan bernilai True. Sebaliknya, apabila data yang dicari tidak ada/salah maka output akan bernilai False

### Menampilkan Jumlah Objek yang ada dalam Data List

In [18]:
##Menampilkan jumlah objek dalam data list kota
print(len(kota_44))               ##print(len(nama_variabel_list))

4

Metode len dalam python digunakan untuk mencari jumlah/panjang objek yang ada dalam data variabel List.

# 5.14 For Loop

For Loop adalah suatu kondisi perulangan yang sudah diketahui/ditentukan batas awal dan batas akhirnya.

### Contoh 1

In [20]:
##Mendeklarasikan variabel
hewan_44 = ['Ayam', 'Kelinci', 'Kucing', 'Singa']

                                  ##Struktur For Loop
for nama_44 in hewan_44:          ##for <variabel> in <iterable>
    print(nama_44)                ##<perintah>
    
##Variabel nama_44 digunakan untuk menampung data iterable dalam setiap perulangan
##Iterable adalah nilai/objek yang mengalami perulangan

Ayam
Kelinci
Kucing
Singa

Pada program di atas, dapat diketahui bahwa for loop digunakan untuk memanggil data list hewan_44 yang ditampung di dalam variabel baru bernama nama_44 dengan batas jumlah data list hewan_44.

### Contoh 2

In [30]:
##For Loop dengan deklarasi iterable di dalam for
for b_44 in [1, 2, 3, 5, 7, 11]:        ##for <variabel> in <iterable>
    c_44 = b_44 ** 3                    ##Membuat variabel baru untuk menampung hasil dari b_44 ** 3
    print(c_44)                         ##Perintah dalam for loop

1
8
27
125
343
1331

Pada program di atas tidak diperlukan deklarasi variabel yang akan digunakan sebagai iterable. Karena deklarasinya dilakukan secara langsung di dalam for loop nya. Sehingga batas awal dan batas akhir bergantung pada data iterablenya.

### Contoh 3

In [35]:
##Melihat perbedaan 2 For Loop

##For Loop dalam 1 kalimat
kalimat_44 = 'Saya belajar bahasa Python'             ##Berupa kalimat sehingga objek dilihat dari perkarakternya

for huruf_44 in kalimat_44:
    print(huruf_44)

##For Loop dalam data list
kata_44 = ['Saya', 'belajar', 'bahasa', 'Python']     ##Berupa data list yang isinya perkata
    
for kata_kata_44 in kata_44:
    print(kata_kata_44)

S
a
y
a

b
e
l
a
j
a
r

b
a
h
a
s
a

P
y
t
h
o
n
Saya
belajar
bahasa
Python

Berdasarkan program di atas, dapat dilihat perbedaannya. Jika data iterable nya berbentuk 1 kalimat, maka tampilan outputnya menjadi menurun kebawah, hal itu karena dalam 1 kalimat terdapat banyak objek sehingga program perkarakter merupakan 1 objek.
Namun, apabila data iterable nya dalam bentuk data list, maka outputnya sama dengan isi dalam data iterable nya yang disusun kebawah perkata.

# 5.15 Fungsi Range

Fungsi Range dapat dikatakan sebuah fungsi yang berbentuk list dengan rentang/batas tertentu. Fungsi Range dapat dikombinasikan dengan For Loop.

### Contoh 1

In [36]:
##Mendeklarasikan variabel
angka_44 = range(12)              ##nama_variabel = range(batas)

##Menampilkan data angka_44
print(angka_44)

range(0, 12)

Struktur: range(batas bawah, batas atas, interval/loncatan)

Program di atas digunakan untuk menampilkan range dari angka_44, dimana range sendiri berfungsi untuk membentuk suatu list dengan data yang ada. Dari program di atas, diketahui bahwa range(12) berarti rentangnya antara 0 sampai 12.

### Contoh 2

In [37]:
##Mengkombinasikan for loop dengan fungsi range

for data_44 in angka_44:          ##for <variabel> in <iterable>
    print(data_44)                ##<perintah>
    
##data_44 digunakan untuk menampung data dari iterable sehingga dapat ditampilkan/dikemas dalam 1 variabel baru

0
1
2
3
4
5
6
7
8
9
10
11

Output yang ditampilkan berasal dari data_44 yang menampung perulangan dari angka_44, dimana sebelumnya angka_44 memiliki range(0, 12). Lalu mengapa yang ditampilkan hanya 0 sampai 11 saja?
Itu karena 0 merupakan batas awal dan 12 merupakan batas akhir, sehingga 12 tidak termasuk dalam data list.

### Contoh 3

In [38]:
##Menampilkan data list dari range(3, 9)
for data_44 in range(3, 9):     ##for <variabel> in <iterabel/range(batas awal, batas akhir)>
    print(data_44)              ##<perintah>

3
4
5
6
7
8

Dalam program di atas, yang diminta untuk ditampilkan adalah range (3, 9). Itu artinya yang akan ditampilkan adalah 3 sampai 8 saja.

### Contoh 4

In [43]:
##Menampilkan data list dari range(1, 11, 2)
for data_44 in range(1, 11, 2):      ##for <variabel> in <iterabel/range(batas awal, batas akhir, interval)>
    print(data_44)                   ##<perintah>

1
3
5
7
9

Range (1, 11, 2) berarti menampilkan data dari range dengan batas awal 1, batas akhir 11, dan interval 2. Maka yang akan muncul adalah 1+2, 3+2, dan seterusnya sampai batas akhir yang telah ditentukan.

### Contoh 5

In [45]:
##Menampilkan data list dengan range(6) untuk menampilkan data mahasiswa
for urutan_44 in range(6):                        ##for <variabel> in range(range_yg_diinginkan)
    print('Mahasiswa ke-' + str(urutan_44))       ##print('kalimat/kata yg digunakan' + str(nama_variabel))

Mahasiswa ke-0
Mahasiswa ke-1
Mahasiswa ke-2
Mahasiswa ke-3
Mahasiswa ke-4
Mahasiswa ke-5

Untuk menampilkan data list mahasiswa sebanyak 6 kali, maka digunakan pada range(6) yang merupakan batasnya. Sehingga yang muncul terdapat 6 output saja. Dimulai dari Mahasiswa ke-0 sampai Mahasiswa ke-5.

### Contoh Program 1

In [47]:
##Deklarasi data variabel
data_44 = [1, 2, 3, 4, 5, 6, 5, 4, 3, 2, 1]

##Mendeklarasikan bahwa isi dari variabel terbesar_44 merupakan data_44 dengan index ke-0 yaitu 1
terbesar_44 = data_44[0]                ##data_44[0] = 1, sehingga terbesar_44 = data_44[0] = 1

for i_44 in range(len(data_44)):        ##for <variabel> in range(len(iterable)), len(data_44) = 11 (panjang data)
    if data_44[i_44] > terbesar_44:     ##data_44[i_44] = 1, terbesar_44 = 1
        terbesar_44 = data_44[i_44]
print(terbesar_44)

6

Dalam program di atas, akan dicari angkan terbesar dari suatu data list. Dimana untuk mencari angka terbesar dalam data list digunakan for loop.

Pada perulangan, diketahui untuk i_44 dalam range data_44. Jika data_44[i_44] > terbesar_44, maka terbesar_44 = data_44[i_44].
-Perulangan 1 : 
data_44[0] > terbesar_44, dimana data_44[0] = 1 dan terbesar_44 = 1. Karena tidak memenuhi kondisi, maka dilakukan looping kembalin.
-Perulangan 2 :
data_44[1] > terbesar_44, dimana data_44[1] = 2 dan terbesar_44 = 1. Karena memenuhi kondisi, maka berlaku terbesar_44 = data_44[i_44]. Sehingga terbesar_44 menjadi 2.
-Perulangan 3 :
data_44[2] > terbesar_44, dimana data_44[2] = 3 dan terbesar_44 = 2. Karena memenuhi kondisi, maka berlaku terbesar_44 = data_44[i_44]. Sehingga terbesar_44 menjadi 3.
Dan seterusnya.

Sehingga dari perulangan di atas diperoleh 6 sebagai data terbesar. Yang telah diperiksa melalui for loop pada program di atas.

### Contoh Program 2

In [3]:
##Deklarasikan variabel data list
nomor_44 = [1, 2, 3, 4, 5, 6, 3, 4, 5, 7, 8, 7]

##Membuat list kosong
nomor_unik_44 = []                            ##variabel baru untuk menampung data

for bagian_44 in nomor_44:                    ##bagian_44 digunakan untuk menampung data perulangan dari nomor_44
    if bagian_44 not in nomor_unik_44:        ##jika data bagian_44 tidak ada di dalam nomor_unik_44, maka:
        nomor_unik_44.append(bagian_44)       ##akan ditambahkan data tersebut menggunakan metode append
print(nomor_unik_44)                          ##Menampilkan data pada variabel list nomor_unik_44

[1, 2, 3, 4, 5, 6, 7, 8]

Pada program di atas, akan dilakukan pemisahan agar tidak ada data yang sama dalam list. Dilakukan perulangan mulai dari data dengan index ke 0, jika dia tidak ada/bukan dalam nomor_unik_44 maka akan dilakukan penambahan data menggunakan metode append, dan begitu seterusnya. Namun jika tidak memenuhi kondisi if bagian_44 not in nomor_unik_44, maka tidak ada data yang akan ditambahkan ke dalam nomor_unik_44, karena datanya sama (data ada/in dalam nomor_unik_44).