# 5.5 String Index

In [ ]:
##Deklarasi variabel yang bertipe data string
##Index dimulai dari index ke 0, dan urutan index terakhir dikatakan atau didefinisikan sebagai -1

kelas = 'Ini kelas algoritma'

In [ ]:
##String Index dengan 2 angka

print(kelas[3:-3])

##Angka pertama pada print berarti index pertama yang akan dimunculkan
##Angka kedua pada print berarti batas index yang akan dimunculkan (tidak termasuk index itu sendiri)
##Contoh, apabila batasnya sampai -3 maka index yang akan dimunculkan hanya sampai di index -4

In [ ]:
##String Index dengan 3 angka

print(kelas[3:-2:3])

##Angka ketiga pada print berarti loncatan index yang akan dimunculkan

In [ ]:
##Percobaan String Index menggunakan variabel yang baru

nama = 'Alifa Fitriana Putri Yuaswan'

In [ ]:
##String Index dengan 2 angka

print(nama[0:6])

##[0:6] artinya memunculkan index ke 0 sampai index ke 5 saja (tidak termasuk index ke 6)

In [ ]:
##String Index tanpa memanggil index ke berapa yang akan dimunculkan

print(nama[:])

##Karena tidak ada yang dipanggil, maka yang tampil adalah semua data index di variabel nama

In [ ]:
##Percobaan memunculkan index ke 3 dengan batas index ke 9 yang memiliki loncatan sebanyak 2 index

print(nama[3:9:2])

In [ ]:
##Mengecek jenis tipe data pada String Index sekaligus menggunakan perintah print

type(print(nama[0:4]))

##Muncul NoneType karena tidak ada tipe data yang terdeteksi dikarenakan adanya perintan print

In [ ]:
##Melihat atau mengecek tipe data pada String Index

type(nama)

##Variabel nama memiliki tipe data String

In [ ]:
##Percobaan untuk mengubah tipe data variabel nama menjadi bertipe data int

type(int(nama))

##Error dikarenakan tipe data sebelumnya berupa string dan tidak dapat diubah ke int

In [ ]:
##Percobaan untuk memunculkan data melebihi jumlah index yang ada

print(nama[0:30])

##Hasil yang dimunculkan dari print merupakan keseluruhan data index yang ada (melebihi jumlah index)
##Sehingga yang ditampilkan adalah keseluruhan data

In [ ]:
##Menampilkan data menggunakan 2 print dalam baris yang berbeda

print(nama[2:-3:4])
print(nama[3:-8])

In [ ]:
##Menampilkan data menggunakan 2 print dalam 1 baris yang sama

print(nama[0:5]), print(nama[2:19:3])

##Output ditampilkan dalam baris yang berbeda meskipun perintah print dalam 1 baris yang sama
##Muncul None pada output dikarenakan ada 2 print sekaligus dalam 1 baris sehingga terdeteksi sebagai vektor
##Namun, karena tipe data berupa string, maka vektornya juga dalam bentuk string sehingga dia memunculkan none

In [ ]:
##Menampilkan data menggunakan 1 print dalam 1 baris, dimana 1 print digunakan untuk memunculkan 2 data sekaligus

print(nama[1:-2], nama[3:20:3])

##Output ditampilkan dalam baris yang sama, tapi tidak ada pembeda/pemisah antara perinta print 1 dengan lainnya

In [ ]:
##Menampilkan data menggunakan 1 print untuk memanggil 2 variabel yang berbeda

print(kelas[1:-2:3], nama[4:-2:1])

In [ ]:
##Mencoba membuat variabel String Index yang berisi angka dan bertipe data bukan string

angka = 123
print(angka[0:-1])

##Error karena bertipe data int yang tidak dapat digunakan untuk memunculkan index yang ingin ditampilkan

In [ ]:
##Melihat jenis tipe data variabel angka

type(angka)

##Variabel String Index angka terdeteksi bertipe data int

In [ ]:
##Mencoba untuk mengubah tipe data variabel angka dari int ke string

type(str(angka))

# 5.6 String Methods

In [ ]:
##Mendeklarasikan variabel judul

judul = 'Indonesia is Wonderful'

In [ ]:
##Menghitung banyaknya karakter yang ada dalam variabel judul

print(len(judul))

In [ ]:
##Mengubah data dalam variabel judul menjadi huruf besar semua

judul.upper()

In [ ]:
##Mengubah data dalam variabel judul menjadi huruf kecil semua

judul.lower()

In [ ]:
##Mengubah data dalam variabel judul menjadi huruf besar dan huruf kecil dalam 1 baris

judul.upper(), judul.lower()

In [ ]:
##Mencoba mengubah data dalam 1 perintah sekaligus

judul.upper().lower()

##Output menunjukkan bahwa yang terdeteksi sebagai perintah adalah kode terakhir yang diperintahkan
##Sehingga yang muncul merupakan hasil dari perintah mengubah ke huruf kecil

In [ ]:
##Untuk mencari karakter atau kata dalam variabel

judul.find('is')

##10 berarti 'is' berada pada index ke 10

In [ ]:
##Mencari karakter atau kata dalam variabel

judul.find('are')

##-1 berarti karakter atau kata yang dicari tidak ada atau tidak ditemukan

In [ ]:
##Mencari karakter atau kata dalam variabel

judul.find('Is')

##-1 berarti karakter yang dicari tidak ditemukan
##'Is' memiliki output -1 karena dalam data variabel yang ada adalah 'is' (terdapat perbedaan dalam huruf besar/kecilnya)
##Ini merupakan case yang sensitif, sehingga besar atau kecilnya suatu karakter sangat diperhatikan

In [ ]:
##Untuk mengganti karakter atau kata dalam variabel

judul.replace('Indonesia', 'Malang')

##Mengganti kata 'Indonesia' menjadi 'Malang'

In [ ]:
##Mencoba menggantik karakter atau kata dalam variabel

judul.replace('indonesia', 'Bandung')

##Karakter tidak terganti karena tidak ada 'indonesia' dalam variabel (perbedaan dalam huruf besar/kecilnya)
##Ini merupakan case sensitif, sehingga besar kecilnya sangat diperhatikan

In [ ]:
##Untuk mencari tahu karakter yang ada maupun tidak pada data variabel

print('Indonesia' in judul)

##Jika data tersebut ada, maka outputnya adalah True
##Jika tidak ada/salah, maka outputnya adalah False

In [ ]:
print('Bali' in judul)

##Data yang dicari tidak ada atau tidak ditemukan

In [ ]:
##Mencari 2 data menggunakan 2 print dalam 1 baris

print('is' in judul), print('are' in judul)

##Muncul None karena terdapat 2 print yang bertipe data string, sehingga terdeteksi sebagai vektor

In [ ]:
##Mencari 2 data menggunakan 1 print

print('are' in judul, 'is' in judul)

In [ ]:
##Mencari 2 data menggunakan 2 print dalam baris yang berbeda

print('is' in judul)
print('are' in judul)

# 5.7 Operasi Matematika di Python

In [ ]:
##Operasi penjumlahan
print(1 + 5)

##Operasi Pengurangan
print(1 - 5)

##Operasi Perkalian
print(1 * 5)

##Operasi Pembagian
print(5 / 2)

##Operasi Pembulatan Pembagian
print(5 // 2)

##Operasi Modulo (habis dibagi)
print(5 % 2)

##Operasi Pemangkatan
print(5 ** 2)


##Augmented Operator pada Penjumlahan, x += 3 berarti x = x + 3
##Maka x = 2 + 3, sehingga x = 5
x = 2
x += 3
print(x)

##Augmented Operator pada Pengurangan, x -= 3 berarti x = x - 3
##Sebelumnya didapatkan bahwa x = 5, maka selanjutnya nilai x = 5
##Maka x = 5 - 3, sehingga x = 2
x -= 3
print(x)

##Augmented Operator pada Perkalian, x *= 3 berarti x = x * 3
##Sebelumnya didapatkan bahwa x = 2, maka selanjutnya nilai x = 2
##Maka x = 2 * 3, sehingga x = 6
x *= 3
print(x)

##Apabila nilai x tidak dideklarasikan menggunakan data x yang baru,
##maka yang akan dieksekusi adalah data lama yang sebelumnya telah tersimpan di memori

In [ ]:
##Augmented Operator pada Penjumlahan

x = 5
x += 2
print(x)

##Berarti x = x + 2, dimana x = 5
##Sehingga x = 5 + 2, x = 7

In [ ]:
##Augmented Operator pada Pengurangan

x = 6
x -= 2
print(x)

##Berarti x = x - 2, dimana x = 6
##Sehingga x = 6 - 2, x = 4

In [ ]:
##Augmented Operator pada Pengurangan

x = 1
x -= 2
print(x)

##Berarti x = x - 2, dimana x = 1
##Sehingga x = 1 - 2, x = -1

In [ ]:
##Augmented Operator pada Perkalian

x = 2
x *= 2
print(x)


##Berarti x = x * 2, dimana x = 2
##Sehingga x = 2 * 2, x = 4

In [ ]:
##Augmented Operator pada Pembagian

x = 6
x /= 2
print(x)

##Berarti x = x / 2, dimana x = 6
##Sehingga x = 6 / 2, x = 3.0

##Output x = 3.0 karena bertipe data float, sehingga output dalam bentuk bilangan desimal

type(x)

# 5.8 Operator Perbandingan di Python

In [ ]:
##Operator Perbandingan Lebih besar (>)
x = 5 > 4
print(x)

##Operator Perbandingan Lebih Kecil (<)
x = 4 < 5
print(x)

##Operator Perbandingan Lebih besar Sama Dengan (>=)
x = 5 >= 4
print(x)

##Operator Perbandingan Lebih Kecil Sama Dengan (<=)
x = 4 <= 5
print(x)

##Operator Perbandingan Sama Dengan (==)
x = 4 == 4
print(x)

##Operator Perbandingan Tidak Sama Dengan (!=)
x = 4 != 5
print(x)

In [ ]:
##Untuk membandingkan Output dengan hasil output di atas

##Operator Perbandingan Lebih besar (>)
x = 4 > 5
print(x)

##Operator Perbandingan Lebih Kecil (<)
x = 5 < 4
print(x)

##Operator Perbandingan Lebih besar Sama Dengan (>=)
x = 4 >= 5
print(x)

##Operator Perbandingan Lebih Kecil Sama Dengan (<=)
x = 5 <= 4
print(x)

##Operator Perbandingan Sama Dengan (==)
x = 4 == 5
print(x)

##Operator Perbandingan Tidak Sama Dengan (!=)
x = 4 != 4
print(x)

##Hasil dari perbandingan 2 output adalah, dengan mengubah atau membalik angkanya saja dapat membuat hasil output yang berbeda,
##tergantung operator yang digunakan.

# 5.9 Operator Logika di Python

In [ ]:
##Mendeklarasikan variabel

mangga = 4
apel = 6

In [ ]:
##Operator AND
##Operator AND akan bernilai True jika keduanya bernilai True, outputnya = True
##Apabila hanya salah satu yang bernilai True, maka outputnya = False

print(mangga > 2 and apel < 10)

##Keduanya bernilai True

In [ ]:
print(mangga > 4 and apel < 10)

##Bernilai False karena tidak benar bahwa mangga > 4

In [ ]:
print(mangga > 2 and apel < 5)

##Bernilai False karena kedua pernyataan tidak benar

In [ ]:
##Operator OR
##Operator OR akan bernilai True jika salah satu atau lebih dari pernyataan bernilai True, outputnya = True
##Apabila kedua pernyataan bernilai False, maka outputnya = Falsa

print(mangga < 2 or apel < 10)

##Bernilai True karena terdapat salah 1 pernyataan yang benar

In [ ]:
print(mangga < 2 or apel > 10)

##Bernilai False karena kedua pernyataan bernilai False

In [ ]:
##Operator NOT
##Operator NOT menghasilkan output yang berlawan/berkebalikan dari output aslinya
##Jika output bernilai True, maka nilai dari operator not nya adalah False

print(not(mangga < 2 or apel > 10))

##Benar bahwa mangga < 2 or apel > 10, namun setelah diberi perintah menggunakan operator not outputnya menjadi berkebalikan

In [ ]:
##Menggunakan tanda ~ untuk negasi atau operator not

##Tanda ~ dapat digunakan dalam operator not, dimana -1 berarti True dan -2 berarti False

x = 2 < 6
print(x)

In [ ]:
print(~(x))

##-2 berarti bernilai False/salah

In [ ]:
x = 10 < 5
print(x)

In [ ]:
print(~(x))

##-1 berarti bernilai True/benar

# 5.10 Operator If di Python

### Operator if menggunakan if

In [ ]:
##Penerapan dalam penggunaan operator if menggunakan if saja membutuhkan 2 batas (batas awal & batas akhir)

nilai = float(input('Nilai anda adalah '))
if nilai >= 80:
    print('Anda mendapatkan nilai A')
    print('Bagus sekali, selamat ya!')
if nilai < 80 and nilai >= 70:
    print('Anda mendapatkan nilai B')
    print('Tingkatkan lagi ya!')
if nilai >= 60 and nilai < 70:
    print('Anda mendapatkan nilai C')
    print('Lain kali harus lebih baik lagi, oke!')
if nilai >= 50 and nilai < 60:
    print('Anda mendapatkan nilai D')
    print('Ulangi lagi di tahun depan')
if nilai < 50:
    print('Anda mendapatkan nilai E')
    print('Sampai jumpa tahun depan!')

### Operator if menggunakan if dan elif (else if)

In [ ]:
##Penerapan dalam penggunaan operator if dan elif tidak memerlukan batas awal dan batas akhir, cukup dengan 1 batas saja

nilai = float(input('Nilai anda adalah '))
if nilai >= 80:
    print('Anda mendapatkan nilai A')
    print('Bagus sekali, selamat ya!')
elif nilai >= 70:
    print('Anda mendapatkan nilai B')
    print('Tingkatkan lagi ya!')
elif nilai >= 60:
    print('Anda mendapatkan nilai C')
    print('Lain kali harus lebih baik lagi, oke!')
elif nilai >= 50:
    print('Anda mendapatkan nilai D')
    print('Ulangi lagi di tahun depan')
else:
    print('Anda mendapatkan nilai E')
    print('Sampai jumpa tahun depan!')

### Contoh Penerapan Operator if

In [4]:
##Membuat program dengan operator if yang dapat mengkonversi uang dari rupiah ke dollar maupun sebaliknya

uang = float(input('Berapa uang anda saat ini? '))
rupiah_atau_dollar = input('Apa mata uang anda? ')

if rupiah_atau_dollar.upper() == 'RUPIAH':
    uang = uang / 15150 
    print('Uang anda saat ini adalah ' + str(uang) + ' dollar')
elif rupiah_atau_dollar.upper() == 'DOLLAR':
    uang = uang * 15150
    print(f'Uang anda saat ini adalah {uang} rupiah')

Berapa uang anda saat ini? 150000
Apa mata uang anda? rupiah
Uang anda saat ini adalah 9.900990099009901 dollar