In [1]:
#############################
###Ini adalah Materi Print###
print('Nama Saya Alifa Fitriana Putri Yuaswan')

Nama Saya Alifa Fitriana Putri Yuaswan

In [2]:
print("Bisa dipanggil Alifa")

Bisa dipanggil Alifa

In [3]:
#######################################
###Menggunakan tanda petik di dalam tanda petik print###
print('Ini adalah materi "Print"')

Ini adalah materi "Print"

In [13]:
#########################################################
###Saya sempat error di sini karena kurang 1 petik dua###
###Setelah ditambahkan 1 petik dua tetap error karena invalid syntax###
###Sintak tidak valid karena setelah tanda petik kedua kalimat
###tidak termasuk dalam bagian print###
print("Ini adalah materi "Print"")
#########################################################
###Setelah ditambahkan tanda petik lagi sebelum kata print juga akan tetap error###

SyntaxError: invalid syntax (3842351805.py, line 6)

In [6]:
#############################################
###Ini adalah contoh dari penggunaan Print###
###contoh print ini menggunakan angka###
mahasiswa_44 = 43
uang_di_dompet_44 = 100000
print(mahasiswa_44)
print(uang_di_dompet_44)
print(uang_di_dompet_44 * mahasiswa_44)
print(mahasiswa_44 * uang_di_dompet_44)

43
100000
4300000
4300000

In [9]:
#############################################
###Ini adalah contoh dari penggunaan Print###
###contoh print ini menggunakan huruf/kata###
nama_depan_44 = 'Alifa Fitriana'
nama_tengah_44 = 'Putri'
nama_belakang_44 = 'Yuaswan'
print(nama_depan_44 + nama_tengah_44 + nama_belakang_44)
#############################################
###Saya sempat ada error disini karena saya 
###kurang teliti dalam penulisan variabel###

Alifa FitrianaPutriYuaswan

In [10]:
#############################################
###Saya mencoba memberi jarak/spasi karena hasil
###dari print di atas tidak ada spasinya###
print(nama_depan_44 + ' ' + nama_tengah_44 + ' ' + nama_belakang_44)

Alifa Fitriana Putri Yuaswan

In [15]:
#############################################
###Ini adalah materi input###
nama_44 = input('Siapakah nama anda? ')
kegiatan_44 = input('Apakah kegiatan anda sekarang, ' + nama_44 + '? ')
print('Semangat ' + kegiatan_44 + ' nya ya, ' + nama_44 + '!')
#############################################
###Tidak ada error disini, hanya saja harus 
##teliti karena penggunaan tanda petik yang banyak###

Siapakah nama anda? Alifa
Apakah kegiatan anda sekarang, Alifa? belajar
Semangat belajar nya ya, Alifa!

In [18]:
#############################################
###Ini adalah materi Tipe Data pada Python###
di_dompet_44 =  input('Berapakah jumlah uang di dompet anda? Rp')
di_bank_44 = input('Berapakah jumlah uang anda di bank? Rp')
print('Total uang anda adalah Rp' + di_dompet_44 + di_bank_44)
#############################################
###Disini tipe data yang terbaca oleh sistem 
###adalah tipe data string, karena tipe data 
###belum diubah maka total uang tidak benar###

Berapakah jumlah uang di dompet anda? Rp10000
Berapakah jumlah uang anda di bank? Rp200000
Total uang anda adalah Rp10000200000

In [19]:
#############################################
###Disini akan diubah tipe datanya###
di_dompet_44 = input('Berapakah jumlah uang di dompet anda? Rp')
di_bank_44 = input('Berapakah jumlah uang anda di bank? Rp')
total_44 = int(di_dompet_44) + int(di_bank_44)
print('Total uang anda adalah Rp' + str(total_44))
#############################################
###Tipe data sudah diubah menjadi integer,
###sehingga total uang sudah benar###

Berapakah jumlah uang di dompet anda? Rp10000
Berapakah jumlah uang anda di bank? Rp200000
Total uang anda adalah Rp210000

In [20]:
#############################################
###Saya mencoba mempersingkat kode agar lebih efisien####
di_dompet_44 = int(input('Berapakah jumlah uang di dompet anda? Rp'))
di_bank_44 = int(input('Berapakah jumlah uang anda di bank? Rp'))
print('Total uang anda adalah Rp' + str(di_dompet_44 + di_bank_44))

Berapakah jumlah uang di dompet anda? Rp10000
Berapakah jumlah uang anda di bank? Rp200000
Total uang anda adalah Rp210000

In [21]:
#############################################
###Ini adalah materi mengenai cara melihat tipe data dari tiap variabel###
type(di_dompet_44)

int

In [24]:
#############################################
###Saya mencoba untuk melihat lebih dari 1 tipe data sekaligus###
type(di_dompet_44)
type(di_bank_44)
type(total_44)
#############################################
###Yang muncul tetap 1 tipe data dari 1 variabel###

int

In [25]:
#############################################
###Tipe data yang muncul sudah sesuai dengan yang dipanggil###
type(di_dompet_44), type(di_bank_44), type(total_44)

(int, int, int)

In [26]:
#############################################
###Ini adalah materi penjumlahan dua bilangan
###dengan menggunakan input dan print###
bilangan_kesatu_44 = input('Masukkan bilangan yang pertama: ')
bilangan_kedua_44 = input('Masukkan bilangan yang kedua: ')
jumlah_44 = float(bilangan_kesatu_44) + float(bilangan_kedua_44)
print('Jumlah kedua bilangan adalah ' + str(jumlah_44))

Masukkan bilangan yang pertama: 1
Masukkan bilangan yang kedua: 3
Jumlah kedua bilangan adalah 4.0

In [27]:
#############################################
###Dapat diketahui jika variabel bilangan_kesatu_44
###dan bilangan_kedua_44 bertipe data string, 
###hal itu dikarenakan kedua variabel tersebut 
###berisi inputan yang berupa kalimat###
###Variabel jumlah bertipe data float sehingga 
###hasil penjumlahan berbentuk bilangan desimal###
type(bilangan_kesatu_44), type(bilangan_kedua_44), type(jumlah_44)

(str, str, float)

In [28]:
#############################################
###Ini adalah materi Formatted String###
nama_44 = 'Alifa'
pekerjaan_44 = 'mahasiswa'
institusi_44 = 'Universitas Udayana'
print(nama_44 + ' adalah seorang ' + pekerjaan_44 + ' di ' + institusi_44 + '.')
#############################################
###Materi ini mempermudah penulisan sebuah 
###variabel untuk dipanggil di print###

Alifa adalah seorang mahasiswa di Universitas Udayana.

In [31]:
#############################################
###Untuk mempersingkat penggunaan formatted string pada print###
print(f'{nama_44} adalah seorang {pekerjaan_44} di {institusi_44}.')
#############################################
###Disini sempat ada error dikarenakan kelebihan 1 tanda petik###

Alifa adalah seorang mahasiswa di Universitas Udayana.

In [32]:
#############################################
###Penggunaan menggunakan petik dua###
print(f"{nama_44} adalah seorang {pekerjaan_44} di {institusi_44}.")

Alifa adalah seorang mahasiswa di Universitas Udayana.