# 5.5 String Index

In [1]:
##Deklarasi variabel yang bertipe data string
##Index dimulai dari index ke 0, dan urutan index terakhir dikatakan atau didefinisikan sebagai -1

kelas_44 = 'Ini kelas algoritma'

In [2]:
##String Index dengan 2 angka

print(kelas_44[3:-3])

##Angka pertama pada print berarti index pertama yang akan dimunculkan
##Angka kedua pada print berarti batas index yang akan dimunculkan (tidak termasuk index itu sendiri)
##Contoh, apabila batasnya sampai -3 maka index yang akan dimunculkan hanya sampai di index -4

 kelas algori

In [3]:
##String Index dengan 3 angka

print(kelas_44[3:-2:3])

##Angka ketiga pada print berarti loncatan index yang akan dimunculkan

 l gi

In [4]:
##Percobaan String Index menggunakan variabel yang baru

nama_44 = 'Alifa Fitriana Putri Yuaswan'

In [5]:
##String Index dengan 2 angka

print(nama_44[0:6])

##[0:6] artinya memunculkan index ke 0 sampai index ke 5 saja (tidak termasuk index ke 6)

Alifa

In [6]:
##String Index tanpa memanggil index ke berapa yang akan dimunculkan

print(nama_44[:])

##Karena tidak ada yang dipanggil, maka yang tampil adalah semua data index di variabel nama

Alifa Fitriana Putri Yuaswan

In [7]:
##Percobaan memunculkan index ke 3 dengan batas index ke 9 yang memiliki loncatan sebanyak 2 index

print(nama_44[3:9:2])

f i

In [8]:
##Mengecek jenis tipe data pada String Index sekaligus menggunakan perintah print

type(print(nama_44[0:4]))

##Muncul NoneType karena tidak ada tipe data yang terdeteksi dikarenakan adanya perintan print

Alif

NoneType

In [9]:
##Melihat atau mengecek tipe data pada String Index

type(nama_44)

##Variabel nama memiliki tipe data String

str

In [10]:
##Percobaan untuk mengubah tipe data variabel nama menjadi bertipe data int

type(int(nama_44))

##Error dikarenakan tipe data sebelumnya berupa string dan tidak dapat diubah ke int

ValueError: invalid literal for int() with base 10: 'Alifa Fitriana Putri Yuaswan'

In [11]:
##Percobaan untuk memunculkan data melebihi jumlah index yang ada

print(nama_44[0:30])

##Hasil yang dimunculkan dari print merupakan keseluruhan data index yang ada (melebihi jumlah index)
##Sehingga yang ditampilkan adalah keseluruhan data

Alifa Fitriana Putri Yuaswan

In [12]:
##Menampilkan data menggunakan 2 print dalam baris yang berbeda

print(nama_44[2:-3:4])
print(nama_44[3:-8])

iFi ru
fa Fitriana Putri

In [14]:
##Menampilkan data menggunakan 2 print dalam 1 baris yang sama

print(nama_44[0:5]), print(nama_44[2:19:3])

##Output ditampilkan dalam baris yang berbeda meskipun perintah print dalam 1 baris yang sama
##Muncul None pada output dikarenakan ada 2 print sekaligus dalam 1 baris sehingga terdeteksi sebagai vektor
##Namun, karena tipe data berupa string, maka vektornya juga dalam bentuk string sehingga dia memunculkan none

Alifa
i ta t

(None, None)

In [15]:
##Menampilkan data menggunakan 1 print dalam 1 baris, dimana 1 print digunakan untuk memunculkan 2 data sekaligus

print(nama_44[1:-2], nama_44[3:20:3])

##Output ditampilkan dalam baris yang sama, tapi tidak ada pembeda/pemisah antara perinta print 1 dengan lainnya

lifa Fitriana Putri Yuasw fFrnPr

In [16]:
##Menampilkan data menggunakan 1 print untuk memanggil 2 variabel yang berbeda

print(kelas_44[1:-2:3], nama_44[4:-2:1])

nkaaot a Fitriana Putri Yuasw

In [17]:
##Mencoba membuat variabel String Index yang berisi angka dan bertipe data bukan string

angka_44 = 123
print(angka_44[0:-1])

##Error karena bertipe data int yang tidak dapat digunakan untuk memunculkan index yang ingin ditampilkan

TypeError: 'int' object is not subscriptable

In [18]:
##Melihat jenis tipe data variabel angka

type(angka_44)

##Variabel String Index angka terdeteksi bertipe data int

int

In [19]:
##Mencoba untuk mengubah tipe data variabel angka dari int ke string

type(str(angka_44))

str

# 5.6 String Methods

In [20]:
##Mendeklarasikan variabel judul

judul_44 = 'Indonesia is Wonderful'

In [21]:
##Menghitung banyaknya karakter yang ada dalam variabel judul

print(len(judul_44))

22

In [22]:
##Mengubah data dalam variabel judul menjadi huruf besar semua

judul_44.upper()

'INDONESIA IS WONDERFUL'

In [23]:
##Mengubah data dalam variabel judul menjadi huruf kecil semua

judul_44.lower()

'indonesia is wonderful'

In [24]:
##Mengubah data dalam variabel judul menjadi huruf besar dan huruf kecil dalam 1 baris

judul_44.upper(), judul_44.lower()

('INDONESIA IS WONDERFUL', 'indonesia is wonderful')

In [25]:
##Mencoba mengubah data dalam 1 perintah sekaligus

judul_44.upper().lower()

##Output menunjukkan bahwa yang terdeteksi sebagai perintah adalah kode terakhir yang diperintahkan
##Sehingga yang muncul merupakan hasil dari perintah mengubah ke huruf kecil

'indonesia is wonderful'

In [26]:
##Untuk mencari karakter atau kata dalam variabel

judul_44.find('is')

##10 berarti 'is' berada pada index ke 10

10

In [27]:
##Mencari karakter atau kata dalam variabel

judul_44.find('are')

##-1 berarti karakter atau kata yang dicari tidak ada atau tidak ditemukan

-1

In [28]:
##Mencari karakter atau kata dalam variabel

judul_44.find('Is')

##-1 berarti karakter yang dicari tidak ditemukan
##'Is' memiliki output -1 karena dalam data variabel yang ada adalah 'is' (terdapat perbedaan dalam huruf besar/kecilnya)
##Ini merupakan case yang sensitif, sehingga besar atau kecilnya suatu karakter sangat diperhatikan

-1

In [29]:
##Untuk mengganti karakter atau kata dalam variabel

judul_44.replace('Indonesia', 'Malang')

##Mengganti kata 'Indonesia' menjadi 'Malang'

'Malang is Wonderful'

In [30]:
##Mencoba menggantik karakter atau kata dalam variabel

judul_44.replace('indonesia', 'Bandung')

##Karakter tidak terganti karena tidak ada 'indonesia' dalam variabel (perbedaan dalam huruf besar/kecilnya)
##Ini merupakan case sensitif, sehingga besar kecilnya sangat diperhatikan

'Indonesia is Wonderful'

In [31]:
##Untuk mencari tahu karakter yang ada maupun tidak pada data variabel

print('Indonesia' in judul_44)

##Jika data tersebut ada, maka outputnya adalah True
##Jika tidak ada/salah, maka outputnya adalah False

True

In [32]:
print('Bali' in judul_44)

##Data yang dicari tidak ada atau tidak ditemukan

False

In [33]:
##Mencari 2 data menggunakan 2 print dalam 1 baris

print('is' in judul_44), print('are' in judul_44)

##Muncul None karena terdapat 2 print yang bertipe data string, sehingga terdeteksi sebagai vektor

True
False

(None, None)

In [34]:
##Mencari 2 data menggunakan 1 print

print('are' in judul_44, 'is' in judul_44)

False True

In [35]:
##Mencari 2 data menggunakan 2 print dalam baris yang berbeda

print('is' in judul_44)
print('are' in judul_44)

True
False

# 5.7 Operasi Matematika di Python

In [39]:
##Operasi penjumlahan
print(1 + 5)

##Operasi Pengurangan
print(1 - 5)

##Operasi Perkalian
print(1 * 5)

##Operasi Pembagian
print(5 / 2)

##Operasi Pembulatan Pembagian
print(5 // 2)

##Operasi Modulo (habis dibagi)
print(5 % 2)

##Operasi Pemangkatan
print(5 ** 2)


##Augmented Operator pada Penjumlahan, x += 3 berarti x = x + 3
##Maka x = 2 + 3, sehingga x = 5
x = 2
x += 3
print(x)

##Augmented Operator pada Pengurangan, x -= 3 berarti x = x - 3
##Sebelumnya didapatkan bahwa x = 5, maka selanjutnya nilai x = 5
##Maka x = 5 - 3, sehingga x = 2
x -= 3
print(x)

##Augmented Operator pada Perkalian, x *= 3 berarti x = x * 3
##Sebelumnya didapatkan bahwa x = 2, maka selanjutnya nilai x = 2
##Maka x = 2 * 3, sehingga x = 6
x *= 3
print(x)

##Apabila nilai x tidak dideklarasikan menggunakan data x yang baru,
##maka yang akan dieksekusi adalah data lama yang sebelumnya telah tersimpan di memori

6
-4
5
2.5
2
1
25
5
2
6

In [40]:
##Augmented Operator pada Penjumlahan

x = 5
x += 2
print(x)

##Berarti x = x + 2, dimana x = 5
##Sehingga x = 5 + 2, x = 7

7

In [41]:
##Augmented Operator pada Pengurangan

x = 6
x -= 2
print(x)

##Berarti x = x - 2, dimana x = 6
##Sehingga x = 6 - 2, x = 4

4

In [46]:
##Augmented Operator pada Pengurangan

x = 1
x -= 2
print(x)

##Berarti x = x - 2, dimana x = 1
##Sehingga x = 1 - 2, x = -1

-1

In [47]:
##Augmented Operator pada Perkalian

x = 2
x *= 2
print(x)


##Berarti x = x * 2, dimana x = 2
##Sehingga x = 2 * 2, x = 4

4

In [48]:
##Augmented Operator pada Pembagian

x = 6
x /= 2
print(x)

##Berarti x = x / 2, dimana x = 6
##Sehingga x = 6 / 2, x = 3.0

##Output x = 3.0 karena bertipe data float, sehingga output dalam bentuk bilangan desimal

type(x)

3.0

float

# 5.8 Operator Perbandingan di Python

In [49]:
##Operator Perbandingan Lebih besar (>)
x = 5 > 4
print(x)

##Operator Perbandingan Lebih Kecil (<)
x = 4 < 5
print(x)

##Operator Perbandingan Lebih besar Sama Dengan (>=)
x = 5 >= 4
print(x)

##Operator Perbandingan Lebih Kecil Sama Dengan (<=)
x = 4 <= 5
print(x)

##Operator Perbandingan Sama Dengan (==)
x = 4 == 4
print(x)

##Operator Perbandingan Tidak Sama Dengan (!=)
x = 4 != 5
print(x)

True
True
True
True
True
True

In [50]:
##Untuk membandingkan Output dengan hasil output di atas

##Operator Perbandingan Lebih besar (>)
x = 4 > 5
print(x)

##Operator Perbandingan Lebih Kecil (<)
x = 5 < 4
print(x)

##Operator Perbandingan Lebih besar Sama Dengan (>=)
x = 4 >= 5
print(x)

##Operator Perbandingan Lebih Kecil Sama Dengan (<=)
x = 5 <= 4
print(x)

##Operator Perbandingan Sama Dengan (==)
x = 4 == 5
print(x)

##Operator Perbandingan Tidak Sama Dengan (!=)
x = 4 != 4
print(x)

##Hasil dari perbandingan 2 output adalah, dengan mengubah atau membalik angkanya saja dapat membuat hasil output yang berbeda,
##tergantung operator yang digunakan.

False
False
False
False
False
False

# 5.9 Operator Logika di Python

In [52]:
##Mendeklarasikan variabel

mangga_44 = 4
apel_44 = 6

In [53]:
##Operator AND
##Operator AND akan bernilai True jika keduanya bernilai True, outputnya = True
##Apabila hanya salah satu yang bernilai True, maka outputnya = False

print(mangga_44 > 2 and apel_44 < 10)

##Keduanya bernilai True

True

In [54]:
print(mangga_44 > 4 and apel_44 < 10)

##Bernilai False karena tidak benar bahwa mangga > 4

False

In [55]:
print(mangga_44 > 2 and apel_44 < 5)

##Bernilai False karena kedua pernyataan tidak benar

False

In [56]:
##Operator OR
##Operator OR akan bernilai True jika salah satu atau lebih dari pernyataan bernilai True, outputnya = True
##Apabila kedua pernyataan bernilai False, maka outputnya = Falsa

print(mangga_44 < 2 or apel_44 < 10)

##Bernilai True karena terdapat salah 1 pernyataan yang benar

True

In [57]:
print(mangga_44 < 2 or apel_44 > 10)

##Bernilai False karena kedua pernyataan bernilai False

False

In [58]:
##Operator NOT
##Operator NOT menghasilkan output yang berlawan/berkebalikan dari output aslinya
##Jika output bernilai True, maka nilai dari operator not nya adalah False

print(not(mangga_44 < 2 or apel_44 > 10))

##Benar bahwa mangga < 2 or apel > 10, namun setelah diberi perintah menggunakan operator not outputnya menjadi berkebalikan

True

In [59]:
##Menggunakan tanda ~ untuk negasi atau operator not

##Tanda ~ dapat digunakan dalam operator not, dimana -1 berarti True dan -2 berarti False

x = 2 < 6
print(x)

True

In [60]:
print(~(x))

##-2 berarti bernilai False/salah

-2

In [61]:
x = 10 < 5
print(x)

False

In [62]:
print(~(x))

##-1 berarti bernilai True/benar

-1

# 5.10 Operator If di Python

### Operator if menggunakan if

In [64]:
##Penerapan dalam penggunaan operator if menggunakan if saja membutuhkan 2 batas (batas awal & batas akhir)

nilai_44 = float(input('Nilai anda adalah '))
if nilai_44 >= 80:
    print('Anda mendapatkan nilai A')
    print('Bagus sekali, selamat ya!')
if nilai_44 < 80 and nilai_44 >= 70:
    print('Anda mendapatkan nilai B')
    print('Tingkatkan lagi ya!')
if nilai_44 >= 60 and nilai_44 < 70:
    print('Anda mendapatkan nilai C')
    print('Lain kali harus lebih baik lagi, oke!')
if nilai_44 >= 50 and nilai_44 < 60:
    print('Anda mendapatkan nilai D')
    print('Ulangi lagi di tahun depan')
if nilai_44 < 50:
    print('Anda mendapatkan nilai E')
    print('Sampai jumpa tahun depan!')

Nilai anda adalah 90
Anda mendapatkan nilai A
Bagus sekali, selamat ya!

### Operator if menggunakan if dan elif (else if)

In [65]:
##Penerapan dalam penggunaan operator if dan elif tidak memerlukan batas awal dan batas akhir, cukup dengan 1 batas saja

nilai_44 = float(input('Nilai anda adalah '))
if nilai_44 >= 80:
    print('Anda mendapatkan nilai A')
    print('Bagus sekali, selamat ya!')
elif nilai_44 >= 70:
    print('Anda mendapatkan nilai B')
    print('Tingkatkan lagi ya!')
elif nilai_44 >= 60:
    print('Anda mendapatkan nilai C')
    print('Lain kali harus lebih baik lagi, oke!')
elif nilai_44 >= 50:
    print('Anda mendapatkan nilai D')
    print('Ulangi lagi di tahun depan')
else:
    print('Anda mendapatkan nilai E')
    print('Sampai jumpa tahun depan!')

Nilai anda adalah 89
Anda mendapatkan nilai A
Bagus sekali, selamat ya!

### Contoh Penerapan Operator if

In [66]:
##Membuat program dengan operator if yang dapat mengkonversi uang dari rupiah ke dollar maupun sebaliknya

uang_44 = float(input('Berapa uang anda saat ini? '))
rupiah_atau_dollar_44 = input('Apa mata uang anda? ')

if rupiah_atau_dollar_44.upper() == 'RUPIAH':
    uang_44 = uang_44 / 15150 
    print('Uang anda saat ini adalah ' + str(uang_44) + ' dollar')
elif rupiah_atau_dollar_44.upper() == 'DOLLAR':
    uang_44 = uang_44 * 15150
    print(f'Uang anda saat ini adalah {uang_44} rupiah')

Berapa uang anda saat ini? 100
Apa mata uang anda? dollar
Uang anda saat ini adalah 1515000.0 rupiah